#clockcontainer{
    background-image: url(clock.png);
    margin: auto;
    height: 45vw;
    width: 40vw;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
}
#ho,#min,#sec{
    position: absolute;
    background-color: black;
    border-radius: 15px;
    transform-origin: bottom;
}
#ho{
    width: 1.8%;
    height: 25%;
    top: 20%;
    left: 48.85%;
    opacity: 0.8; 

}
#min{
    width: 1.6%;
    height: 30%;
    top: 15%;
    left: 48.9%;
    opacity: 0.8; 
}
#sec{
    width: 1%;
    height: 40%;
    top: 5%;
    left: 49.25%;
    opacity: 0.8; 
}